{% load new_tags %}
{% load static %}
{% load mathfilters %}

<!DOCTYPE html>
<html lang="en" >
    <meta charset="utf-8">
    <body>
    <form id="search_form" name="search_form" method="POST" action="{% url 'search' %}" >
	{% csrf_token %}


  {{ form.non_field_errors }}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}
       <table border="1">
    {% for field in form.visible_fields %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>
          {{ field.errors }}
          {{ field }}
          {{ field.help_text }}
        </td>
      </tr>
    {% endfor %}
  </table>
            <!--<button type="button" id="Search_Button" name="Search_Button"> Search </button>-->
                <input type="submit" value="Search" />

    </form>
    <!--total_hits|div:5|floatformat:"0"-->
    <table>
        <tr><td>documents found: {{total_hits}}</td></tr>


             {% for doc in hits %}

            <!--<td> ID :{{ doc|get:"_id" }}</td><td>content: {{ doc|get:"_source"|get:"content"}} </td>-->
                {% with doc|get:"_source"|get:"if_file" as if_file %}
              {% if if_file != null %}

                {% with doc|get:"_source"|get:"if_file"|get:"thumbnail"|get:"relurl" as thumbnail %}
                {% with doc|get:"_source"|get:"if_file"|get:"original"|get:"relurl" as original %}
                {% with doc|get:"_source"|get:"if_file"|get:"mime_type" as mime_type %}
                {% endwith%}
                {% with doc|get:"_source"|get:"if_file"|get:"mimetype" as mimetype %}

                {% with doc|get:"_source"|get:"if_file"|get:"mime_type" as mime_type %}

                 {% if  mime_type == "image/gif" or  mimetype == "image/jpeg" or mimetype == "image/png" or mimetype == "image/svg+xml" %}
                    {% if  thumbnail == null %}
                    <td><a href="{% static original %}"><img src="{% static 'image.png' %}" height="100px" width="110px" /><br/>{{ doc|get:"_source"|get:"name"}}</a></td>
                    {% else %}
                    <td><a href="{% static original %}"><img src="{% static thumbnail %}" height="100px" width="110px" /><br/>{{ doc|get:"_source"|get:"name"}}</a></td>
                    {% endif %}

                {% elif  mime_type == "audio/mpeg" or  mimetype == "audio/mpeg" %}
                    {% if  thumbnail == null %}
                    <td><a href="{% static original %}"><img src="{% static 'mp3.png' %}" height="100px" width="110px" /><br/>{{ doc|get:"_source"|get:"name"}}</a></td>
                    {% else %}
                    <td><a href="{% static original %}"><img src="{% static thumbnail %}" height="100px" width="110px" /><br/>{{ doc|get:"_source"|get:"name"}}</a></td>
                    {% endif %}
                {% elif  mime_type == 'application/pdf' or  mimetype == 'application/pdf' %}
                    {% if  thumbnail == null %}
                    <td><a href="{% static original %}"><img src="{% static 'pdf_icon.jpeg' %}"  height="100px" width="110px"/><br/>{{ doc|get:"_source"|get:"name"}}</a></td>
                    {% else %}
                    <td><a href="{% static original %}"><img src="{% static thumbnail %}" height="100px" width="110px" /><br/>{{ doc|get:"_source"|get:"name"}}</a></td>
                    {% endif %}
                {% elif  mime_type == 'video/avi' or  mimetype == 'video/mp4' or mimetype == 'video/mpeg' or mimetype == 'video/webm' or mimetype == 'video/x-matroska' or mimetype == 'video/x-ms-asf' or mimetype == 'video/x-msvideo'%}
                     {% if  thumbnail == null %}
                <td><a href="{% static original %}"><img src="{% static 'video.png' %}"  height="100px" width="110px"/><br/>{{ doc|get:"_source"|get:"name"}}</a></td>
                     {% else %}
                     <td><a href="{% static original %}"><img src="{% static thumbnail %}"  height="100px" width="110px"/><br/>{{ doc|get:"_source"|get:"name"}}</a></td>
                     {% endif %}

                {% else %}
                <td><a href="{% static original %}"><img src="{% static thumbnail %}" /><br/>{{ doc|get:"_source"|get:"name"}}</a></td>
                {% endif %}

                {% endwith %}
                {% endwith%}
                {% endwith%}
                {% endwith %}
                 {% endif %}
                {% endwith %}

                {% if forloop.counter|divisibleby:5 %}
                </tr>
                <tr>
                    {% endif %}



            {% endfor%}

        </tr>

    </table>


    </body>
</html>
